.book_chapter_info {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #fff;
}

.genre_container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.genre_item {
  width: 80px;
  height: 20px;
  color: #fff;
  font-size: 7px;
  background: #212121;
  border-radius: 20px;
  margin-right: 14px;
  border: 1px solid #fff;
  transition: background 0.3s ease, transform 0.1s ease;
  &:hover {
    background: #212121;
  }

  &:active {
    background: #222;
    transform: scale(0.95);
  }
}
.icon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
.about_info {
  display: flex;
}
.about_views {
  color: #fff;
  font-size: 14px;
  margin-right: 25px;
}
.about_date {
  color: #fff;
  font-size: 9px;
  margin-right: 25px;
}
.about_content {
  color: #fff;
  font-size: 10px;
  margin-top: 18px;
  margin-bottom: 8px;
  text-indent: 10px;
}
