.authors_note {
  padding: 15px;
  background: #000;
}
.authors_note_view {
  font-size: 14px;
  color: #fff;
  margin-bottom: 14px;
}
.authors_note_text {
  font-size: 10px;
  color: #fff;
  text-indent: 10px;
}
