.notification {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  width: 86px;
  height: 43px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Состояние кнопки включено */
.notification.enabled {
  background: #290038;
}

/* Состояние кнопки отключено */
.notification.disabled {
  background: #3f3f3f;
}

/* Состояние кнопки при наведении */

.notification::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 43px;
  height: 43px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateX(0);
}

.notification.enabled::before {
  transform: translateX(100%);
}
