.comment_item {
  display: flex;
  margin-bottom: 26px;
  justify-content: space-between;
  gap: 20px;
}

.views {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 32px;
  color: #888888;
}
.comment_container {
  flex: 0 0 60%;
}
.comment_content {
  font-size: 24px;
  color: #fff;
  text-decoration: underline;
}
.reply_container {
  text-align: center;
}

.comment_date {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 24px;
  color: #fff;
}
.delete_icon {
  width: 30px;
  height: 30px;
}
